name: tag-release

on:
  push:
    branches:
      - main
    paths:
      - version.txt

jobs:
  tag-release:
    if: ${{ github.repository == 'kubernetes-sigs/etcd-manager' }}
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
      - run: /usr/bin/git config --global user.email actions@github.com
      - run: /usr/bin/git config --global user.name 'GitHub Actions Release Tagger'
      - run: dev/tag-release.sh
